# XXX: both docker-compose and next.js will use this file
# however, for next.js variables are server-side only unless 
# prefixed with `NEXT_PUBLIC_`
# see https://nextjs.org/docs/pages/building-your-application/configuring/environment-variables

API_VERSION=beta
BUILD=dev

PG_ADMIN_USER=postgres
PG_ADMIN_PASSWORD=postgres123
PG_DATA_DIR=
DB_INIT_DIR=
PG_PORT=5432

SERVER_API_PORT=8000
CLIENT_API_PORT=3000

KEYDB_DATA_DIR
KEYDB_PORT=6379
KEYDB_DATA_DIR=/home/allenem/projects/docker-api/data/keydb
KEYDB_URL=keydb://127.0.0.1:6379/0

APPLICATION_DIR=full-path-to-api-code-on-host
SCRIPTS_DIR=
LOG_DIR=
FILES_DIR=