API_VERSION=beta
BUILD=dev

PG_ADMIN_USER=postgres
PG_ADMIN_PASSWORD=postgres123
PG_DATA_DIR=
DB_INIT_DIR=
PG_PORT=5432

SERVER_API_PORT=8000
CLIENT_API_PORT=3000

APPLICATION_DIR=full-path-to-api-code-on-host
