fastapi
gunicorn
uvicorn
sqlmodel
nh3
pydantic_settings
pyparsing
asyncpg
itsdangerous # required by SessionMiddleware
asgi_correlation_id
pyyaml
aiocache
# redis
niagads-pylib @ git+https://github.com/NIAGADS/niagads-pylib@main